.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-and-bottom-spacer: 18px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 10;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
}

// ACTION

.action {
    display: flex;
    align-items: center;
}

.custom-btn {
    color: rgba(22, 24, 35, 0.75);
}
.more-btn {
    margin-left: 24px;
    padding: 4px 8px;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
}

.inbox-btn {
    position: relative;
}

.inbox-quantity {
    position: absolute;
    top: 2px;
    right: 7px;
    width: 22px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--primary);
}

// User
.action-btn {
    color: rgba(22, 24, 35, 1);
    background-color: transparent;
    font-size: 2.4rem;
    padding: 4px 14px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 14px;
    cursor: pointer;
}
